<% @user.releases.each do |release| %>
  <h2><%= releases.title %></h2>
  <h3><%= releases.artist %></h3>
  <h3><%= releases.title %></h3>
  <ul>
    <% release.tracks.each do |track| %>
      <li><%= track.title %></li>
    <% end %>
  </ul>
<% end %>
<a href="/logout">Logout</a>


<form method="post" action="/releases">
  <% Release.all.each do |release| %>
    <<label><%= release.title %> by <%= release.artist %></label>
    <input type="checkbox" id="release_<%=release.id%>" name="user[release_ids][]" value="<%= release.id %>"><br>
  <% end %>
  <br>
  <label>New release</label>
  <input type="text" id="new_release" name="release[title]">