<% @user.releases.each do |release| %>
<div class="album_card">
  <img src="<%= release.img_link %>"><br>
  <p class="title"><%= release.title %></p>
  <p class="artist"><%= release.artist %></p>
  <p class="description"><%= release.description %></p>
  <a class="button" href="/releases/<%= release.id %>">Details</a><br><br>
</div>
<% end %>
<br>
<div class="show_nav">
  <a class="button" href="/releases/new">Add a New Release</a>
  <a class="button" href="/tracks">All Tracks in Collection</a>
  <a class="button" href="/logout">Logout</a>
</div>

