<% @user.releases.each do |release| %>
  <img src="<%= release.img_link %>"><br>
  <%= release.title %><br>
  -<%= release.artist %><br>
  -<%= release.description %><br>
  <a href="/releases/<%= release.id %>">Details</a><br><br>
<% end %>
<br>
<a class="button" href="/releases/new">Add a New Release</a>
<br>
<a href="/tracks">All Tracks in Collection</a>
<br>
<a href="/logout">Logout</a>

