<%= @release.title %></a><br>
-<%= @release.artist %><br><br>
<ol>
  <% @release.tracks.each do |track| %>
    <li><%= track.title %></li>
  <% end %>
</ol>
<a href="/releases">Back</a>
<a href="/releases/<%= @release.id %>/edit">Edit</a>
<form method="post" action="/releases/<%= @release.id %>/delete">
  <input type="hidden" name="_method" value="delete" />
<input type="submit" id="submit" value="Delete"><br>